<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BankSuite">
	<groups>
	<define name="Windows">
		<include name="Windows.*"/>	
	
	</define>
	</groups>
  <test  name="TestBank">
	  <groups>
		  <define name="all">
			  
			  <include name="Functional"/>		  
		  </define>
		  <run>
			  <include name="all"/>
		  </run>
		  
		  
	  </groups>
    <classes>
      <class name="com.siddu.groups.TestGroups"/>
      <class name="com.siddu.groups.Testpayee"/>
    </classes>
  </test> 
  <test  name="TestBank1">
	  <groups>
		  <define name="Weeklybuild">
			  <include name="Smoke"/>
			  <include name="Sanity"/>
			  <include name="Windows.*"/>		  
		  </define>
		  <run>
			  <include name="Weeklybuild"/>
		  </run>
		  
		  
	  </groups>
    <classes>
      <class name="com.siddu.groups.TestGroups"/>
      <class name="com.siddu.groups.Testpayee"/>
    </classes>
  </test> 
</suite> 
